.container {
  width: 1450px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li {
  margin: 0 20px;
  list-style: none;
}
header nav ul li a {
  color: white;
}
header nav ul li.active a {
  color: red;
}

h2 {
  text-align: center;
}

.box {
  width: 25px;
  height: 25px;
}

#fullpage section {
  background-color: #2a2e2f !important;
}

/* section1 */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 190px;
}

.circle_1 {
  position: relative;
  top: -15px;
  left: 97px;
}

.circle_1 > .text {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 58px;
  height: 27px;
  border-radius: 10%;
  top: 337px;
  left: 309px;
  display: none;
}

.circle_1 > .text > p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 8px;
  text-align: center;
  line-height: 19px;
  top: 6px;
}

.circle_1:hover .text {
  display: block;
}

.circle_2 {
  position: relative;
  top: 413px;
  left: 197px;
}

.circle_2 > .text {
  position: absolute;
  background-color: #000;
  width: 55px;
  height: 27px;
  border-radius: 10%;
  top: 419px;
  left: 309px;
  display: none;
}

.circle_2 > .text > p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 9px;
  text-align: center;
  line-height: 19px;
  top: 6px;
}

.circle_2:hover .text {
  display: block;
}

.circle_3 {
  position: relative;
  top: 502px;
  left: 591px;
}

.circle_3 > .text {
  position: absolute;
  background-color: #000;
  width: 65px;
  height: 27px;
  border-radius: 10%;
  top: 336px;
  left: 309px;
  display: none;
}

.circle_3 > .text > p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 8px;
  text-align: center;
  line-height: 19px;
  top: 6px;
}

.circle_3:hover .text {
  display: block;
}

.circle_4 {
  position: relative;
  top: 174px;
  left: 625px;
}

.circle_4 > .text {
  position: absolute;
  background-color: #000;
  width: 54px;
  height: 27px;
  border-radius: 10%;
  top: 336px;
  left: 309px;
  display: none;
}

.circle_4 > .text > p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 8px;
  text-align: center;
  line-height: 19px;
  top: 6px;
}

.circle_4:hover .text {
  display: block;
}

.circle_5 {
  position: relative;
  top: 37px;
  left: 1257px;
  z-index: 99999999999;
}

.circle_5 > .text {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 69px;
  height: 27px;
  border-radius: 10%;
  top: 336px;
  left: 309px;
  display: none;
}

.circle_5 > .text > p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 7px;
  text-align: center;
  line-height: 19px;
  top: 6px;
}

.circle_5:hover .text {
  display: block;
}

.circle::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #dabd1d;
  border-radius: 50%;
  left: 267px;
  top: 381px;
}
@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.circle::before {
  animation: circle2 2s infinite ease;
}
@keyframes circle2 {
  to {
    transform: scale(calc(var(--size) * 2));
    opacity: 0;
  }
}
.circle:nth-child(1) {
  --size: 1.3;
}
.circle:nth-child(2) {
  --size: 1.4;
}
.circle:nth-child(3) {
  --size: 1;
}

section:first-child .box {
  position: relative;
  width: 544px;
  height: 86px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 286px;
  margin-left: 50px;
}

section:first-child .box dl {
  position: absolute;
  font-size: 60px;
  top: 12px;
  right: 32px;
  font-weight: 500;
  color: #242829;
}

section:first-child .box dl dd {
  color: #f3d21c;
  position: absolute;
  top: 84px;
}
section:first-child .box dl dd:nth-of-type(2) {
  color: #fff;
  position: absolute;
  top: 185px;
  font-size: 22px;
  font-weight: 100;
}

section:first-child .box .text_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 190px;
  left: 339px;
}

section:first-child .box span {
  color: #fff;
  font-size: 30px;
  margin-right: 5px;
}

section:first-child .box p {
  color: #fff;
  font-size: 22px;
}

section:first-child img {
  float: right;
  width: 50%;
  z-index: 1000;
  overflow: hidden;
}

section:first-child::before {
  content: "";
  display: block;
  background: url(../img/while1.svg) no-repeat;
  width: 1566px;
  height: 1044px;
  transform: rotate(724deg);
  position: relative;
  left: 512px;
  top: 114px;
  opacity: 0.2;
}
section:first-child .button {
  margin-top: 500px;
  display: flex;
  margin-top: 500px;
  display: flex;
  justify-content: space-between;
}

section:first-child .button a {
  width: 220px;
  height: 65px;
  border: 3px solid;
  color: #f3d21c;
  border-radius: 12px;
  font-size: 20px;
  line-height: 65px;
  font-weight: 400;
  text-align: center;
}

/* section2 */

section h2 {
  color: #f3d21c;
  font-size: 36px;
  font-weight: 400;
  padding-top: 130px;
}

section:nth-child(2) img {
  float: left;
  width: 580px;
  margin: 14px 147px 0px 0px;
  z-index: 1000;
}

section:nth-child(2):before {
  content: "";
  display: block;
  background: url(../img/while1.svg) no-repeat;
  width: 1628px;
  height: 1044px;
  transform: rotate(557deg);
  position: relative;
  left: 450px;
  top: 102px;
  opacity: 0.2;
  z-index: 1;
}

section:nth-child(2) .introduce {
  margin-top: 98px;
}

section:nth-child(2) .introduce dl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section:nth-child(2) .introduce dt {
  font-size: 30px;
  color: #fff;
  line-height: 27px;
  padding-top: 130px;
  font-weight: 400;
  margin-bottom: 42px;
  line-height: 27px;
}

section:nth-child(2) .introduce dd {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 42px;
}

section:nth-child(2) .introduce .hashtag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 112px;
}

section:nth-child(2) .introduce .hashtag p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #f2d013;
}

.introduce_wrap {
  display: flex;
}
section:nth-child(2) .introduce_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section:nth-child(2) .introduce_1 > .name {
  display: flex;
}
section:nth-child(2) .introduce_1 > .name span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.85em;
  color: #ffffff;
  margin-bottom: 10px;
}
section:nth-child(2) .introduce_1 > .name p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}

section:nth-child(2) .introduce_1 .birth {
  display: flex;
}

section:nth-child(2) .introduce_1 .birth span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
section:nth-child(2) .introduce_1 .birth p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  padding-left: 12px;
}
section:nth-child(2) .introduce_1 .home {
  display: flex;
}

section:nth-child(2) .introduce_1 .home span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.33em;
  color: #ffffff;
}

section:nth-child(2) .introduce_1 .home p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  padding-left: 5px;
}

section:nth-child(2) .introduce_2 {
  margin-left: 300px;
}
section:nth-child(2) .introduce_2 .phon {
  display: flex;
  margin-bottom: 10px;
}
section:nth-child(2) .introduce_2 .phon span {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}

section:nth-child(2) .introduce_2 .phon p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  padding-left: 5px;
}
section:nth-child(2) .introduce_2 .email {
  display: flex;
  margin-bottom: 10px;
}
section:nth-child(2) .introduce_2 .email span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.32em;
  color: #ffffff;
}

section:nth-child(2) .introduce_2 .email p {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}
section:nth-child(2) .introduce_2 .license {
  display: flex;
}
section:nth-child(2) .introduce_2 .license span {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.34em;
  color: #ffffff;
}

section:nth-child(2) .introduce_2 .license p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}
/* section3 */
section:nth-child(3) {
  position: relative;
}
section:nth-child(3) img {
  position: absolute;
  left: 500px;
  width: 1000px;
  opacity: 0;
  animation: box-ani 5s infinite ease-in-out;
  transform: translate(400px, 10px);
  transform: rotate(100deg) translateX(800px);
}

@keyframes box-ani {
  to {
    transform: scale(calc(var(--size) * 2));
    opacity: 0.5;
  }
}
/* 그래프 */
section:nth-child(3) h2 {
  color: #f3d21c;
  font-size: 36px;
  font-weight: 400;
  padding: 130px 0 162px 0;
}

.progress-bar {
  position: relative;
  width: 546px;
  height: 18px;
  margin: 53px auto;
  border: 1px solid #f3d21c;
  background-color: #e9ecef;
  border-radius: 17px;
}
.progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #f3d21c;
  border-radius: 17px;
  /* animation:width 3s; */
}
/* @keyframes width{
    to{width:30%;}
} */
.progress-bar .rate {
  position: relative;
  top: -54px;
  right: -509px;
  bottom: 0px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
}

.content {
  height: 800px;
  font-size: 3em;
}

.animation {
  float: left;
  margin-bottom: 20px;
}

.animation.right {
  float: right;
}

.progress-bar .skill_name {
  position: relative;
  bottom: 30px;
  right: 0px;
  font-size: 16px;
  color: #fff;
}

.progress-bar .skill_name .span {
  display: flex;
}
/* section4 */

section:nth-child(4) h2 {
  color: #f3d21c;
  font-size: 36px;
  font-weight: 400;
  padding: 130px 0 0 0;
}

section:nth-child(4) .slide:nth-child(1) {
  position: relative;
  bottom: 150px;
}

section:nth-child(4) .slide:nth-child(1) .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 900px;
  top: 200px;
  width: 540px;
}
section:nth-child(4) .slide:nth-child(1) .text h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 22px;
}

section:nth-child(4) .slide:nth-child(1) .text ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
section:nth-child(4) .slide:nth-child(1) .text ul li {
  margin-right: 10px;
  color: #f3d21c;
}
section:nth-child(4) .slide:nth-child(1) .text span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 34px;
}

section:nth-child(4) .slide:nth-child(1) img {
  float: left;
  width: 800px;
  height: 500px;
  position: relative;
  bottom: 106px;
}

section:nth-child(4) .slide:nth-child(1) img:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

section:nth-child(4) .button {
  position: absolute;
  margin-top: 400px;
  display: flex;
}

section:nth-child(4) .button a {
  width: 220px;
  height: 65px;
  border: 3px solid;
  color: #f3d21c;
  border-radius: 12px;
  font-size: 20px;
  line-height: 65px;
  font-weight: 400;
  text-align: center;
  margin-right: 90px;
}

/* 슬라이드2 */

section:nth-child(4) .slide:nth-child(2) {
  position: relative;
  bottom: 150px;
}

section:nth-child(4) .slide:nth-child(2) .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 900px;
  top: 200px;
  width: 540px;
}
section:nth-child(4) .slide:nth-child(2) .text h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 22px;
}

section:nth-child(4) .slide:nth-child(2) .text ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
section:nth-child(4) .slide:nth-child(2) .text ul li {
  margin-right: 10px;
  color: #f3d21c;
}
section:nth-child(4) .slide:nth-child(2) .text span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 34px;
}

section:nth-child(4) .slide:nth-child(2) img {
  float: left;
  width: 800px;
  height: 450px;
  position: relative;
  bottom: 106px;
}

section:nth-child(4) .slide:nth-child(2) img:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

/* 슬라이드3 */

section:nth-child(4) .slide:nth-child(3) {
  position: relative;
  bottom: 150px;
}

section:nth-child(4) .slide:nth-child(3) .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 825px;
  top: 286px;
  width: 540px;
}
section:nth-child(4) .slide:nth-child(3) .text h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 22px;
}

section:nth-child(4) .slide:nth-child(3) .text ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
section:nth-child(4) .slide:nth-child(3) .text ul li {
  margin-right: 10px;
  color: #f3d21c;
}
section:nth-child(4) .slide:nth-child(3) .text span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 34px;
}

section:nth-child(4) .slide:nth-child(3) img {
  float: left;
  width: 500px;
  height: 700px;
  position: relative;
  bottom: 106px;
}

section:nth-child(4) .slide:nth-child(2) img:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

/* section5 */

section:nth-child(5) h2 {
  color: #f3d21c;
  font-size: 36px;
  font-weight: 400;
  padding: 130px 0 162px 0;
}

section:nth-child(5) img {
  margin-right: 30px;
}

/* section6 */

section:nth-child(6) img {
  float: left;
  width: 550px;
}
section:nth-child(6) p {
  position: relative;
  top: 228px;
  left: 197px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}
section:nth-child(6) p:first-child {
  margin-bottom: 30px;
}
section:nth-child(6) p span {
  position: relative;
  top: 2px;
  left: 4px;
  font-size: 28px;
  color: #dabd1d;
  margin-bottom: 10px;
  margin-right: 10px;
}

section:nth-child(6) .button {
  margin-top: 500px;
  display: flex;
  position: relative;
  left: 152px;
}

section:nth-child(6) .button a {
  width: 220px;
  height: 65px;
  border: 3px solid;
  color: #f3d21c;
  border-radius: 12px;
  font-size: 20px;
  line-height: 65px;
  font-weight: 400;
  text-align: center;
  margin-right: 50px;
}
